<%= simple_form_for(@elite_post, url: admin_elite_post_path(@elite_post)) do |f| %>
    <%= f.input :parent_id, label: t('admin.elite.posts.parent_id') %>

    <div class="actions clearfix">
      <%= f.submit t('action.submit'), :class => 'button right' %>
    </div>
<% end %>
