<div class="comments-mng">
  <%= render 'comments_paginate_bar' %>
  <table class="table table-hover">
    <thead>
    <th>id</th>
    <th>内容</th>
    <th>评论类型</th>
    <th>评论对象</th>
    <th>thread</th>
    <th>parent_id</th>
    <th>作者</th>
    <th>评论时间</th>
    <th>ip</th>
    <th>状态</th>
    <th>操作</th>
    </thead>
    <tbody>
    <%= render @comments %>
    </tbody>
  </table>
  <%= render 'comments_paginate_bar' %>
</div>