<tr>
  <td><%= category.id %></td>
  <td><span class="glyphicon glyphicon-folder-close"></span></td>
  <td><%= link_to category.name, admin_elite_nodes_path(parent_id: category.id) %></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= category.deleted %></td>
  <td></td>
</tr>