<%= simple_form_for(@elite_category, url: @elite_category.new_record? ? admin_elite_categories_path : admin_elite_category_path(@elite_category)) do |f| %>
    <%= f.input :title, label: "目录名：" %>
    <%= f.input :parent_id, label: "父目录ID：" %>

    <div class="actions clearfix">
      <%= f.submit '提交', :class => 'button right' %>
    </div>
<% end %>
