<%= form_for(@moderator_application) do |f| %>
  <% if @moderator_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moderator_application.errors.count, "error") %> prohibited this moderator_application from being saved:</h2>

      <ul>
      <% @moderator_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
