<nav class="topic-bar clearfix">
  <%= paginate @pagination_posts, left: 1, right: 1 %>
  帖子数：<%= @topic.posts.count %>
  <div class="post-links pull-right">
    <%= link_to '新建主题', new_board_post_path(@board) %>
    <%= link_to '回复主题', new_board_post_path(@board, parent: @first.id) %>
  </div>
</nav>