<% if topic.lock == 1 %><span class="glyphicon glyphicon-lock user-lock" title="主题创建者加锁，只有主题创建者才能回复"></span><% end %>
<% if topic.lock == 2 %><span class="glyphicon glyphicon-lock moderator-lock" title="版主加锁，没人能回复"></span><% end %>
