<% if topic.lock == 1 %><span class="glyphicon glyphicon-lock user-lock" title="<%= t('views.topics.tip.locked_by_author') %>"></span><% end %>
<% if topic.lock == 2 %><span class="glyphicon glyphicon-lock moderator-lock" title="<%= t('views.topics.tip.locked_by_moderator') %>"></span><% end %>
