<nav class="list-bar clearfix">
  总数：<%= @all_notifications.count %>
  <%= paginate @notifications, left: 1, right: 1 %>
  <div class="pull-right">
    <%= link_to "清空", clean_user_notifications_path(@user), method: :delete %>
  </div>
</nav>