<%= render partial: 'admin/common/admin_nav', locals: {index: 4} %>
<%= render 'nodes_paginate_bar' %>
<table class="table table-hover">
  <thead>
  <th>id</th>
  <th>类型</th>
  <th>名称</th>
  <th>路径</th>
  <th>版主</th>
  <th>状态</th>
  <th>层级</th>
  <th>顺序</th>
  <th>操作</th>
  </thead>
  <tbody>
  <%= render @nodes %>
  </tbody>
</table>
<%= render 'nodes_paginate_bar' %>

