<td class="avatar"><%= avatar mentionable.author, 40 %></td>
<td class="content">
  <div class="title">
    <%= t('notifications._mention._post.title_html', post_author: user_link(mentionable.author), post: link_to(mentionable.title, post_path(mentionable))) %>
    <% if !notification.read %>
        <span class="new-item-tip"><%= t('notifications.new_notification') %></span>
    <% end %>
  </div>
</td>