<td class="avatar"><%= avatar mentionable.author, 40 %></td>
<td class="content">
  <div class="title"><%= user_link mentionable.author %> 在帖子 <%= link_to mentionable.title, show_post_path(mentionable.sid) %> 里提到了你</div>
</td>