<tr>
  <td class="title <%= 'deleted' if elite_post.deleted? %>"><%= link_to elite_post.title, elite_post %></td>
  <td class="board hidden-xs"><%= link_to elite_post.board.name, elite_post.board %></td>
  <td class="date"><%= time_date elite_post.created_at %></td>
</tr>