<tr>
  <td class="title <%= 'deleted' if post.deleted? %>"><%= link_to post.title, post_path(post) %></td>
  <td class="board hidden-xs"><%= link_to post.board.name, post.board %></td>
  <td class="date"><%= time_date post.created_at %></td>
</tr>