<% content_for :left_side do %>
    <%= render 'profile_left' %>
<% end %>
<div class="col-lg-7 col-md-8 right-side-layout">
  <%= render partial: 'profile_nav', locals: {index: 2} %>
  <div class="user-list-content">
    <div class="list-content">
      <%= render partial: "topics/topic_list_item", as: :topic, collection: @topics %>
    </div>
    <div class="user-pagination">
      <%= paginate @topics, left: 1, right: 1, :theme => 'bootstrap3' %>
    </div>
  </div>
</div>
