<tr>
  <td class="node-mark node-mark-category"><span class="glyphicon glyphicon-folder-close"></span></td>
  <td class="title"><%= link_to category.name, elite_category_path(category) %></td>
  <td class="moderator"><%= user_link category.moderator %></td>
  <td class="date"><%= time_date category.updated_at %></td>
</tr>