// Place all the styles related to the Admin::BlockedUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block-user-form {
  display: inline-block;
  margin-left: 10px;
}