<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'boards', boards_path %></li>
    <li><%= link_to '版面申请', board_applications_path %></li>
    <li>申请新版</li>
  </ol>
  <%= link_to '申请新版', new_board_application_path, class: 'breadcrumb pull-right' %>
</div>

<div class="simpleform">
<h3 class="text-center">申请新版</h3>

<%= render 'form' %>

</div>