<div class="board-intro hidden-lg hidden-md">
  <div>
    版主：<ul class="list-inline" style="display: inline-block"><% board.moderators.each do |user| %><li><%= user_link user %></li><% end %></ul>
  </div>
  <div class="intro-content">
    <%= board.intro %>
  </div>
</div>