<nav class="topic-bar clearfix">
  板块数：<%= @boards.count %>
  <%= paginate @boards, left: 1, right: 1 %>
  <div class="pull-right"><%= link_to '新建板块', new_board_path, class: 'pull-right' %></div>
</nav>