<div class="board-intro hidden-lg hidden-md">
  <div>
    <% if board.moderators.count > 0 %>
        <%= t('global.moderator') %>: <ul class="list-inline" style="display: inline-block">
          <% board.moderators.each do |user| %>
              <li><%= user_link user %></li>
          <% end %></ul>
    <% else %>
        <%= t('boards.recruiting_moderator') %>
    <% end %>
  </div>
  <div class="intro-content">
    <%= board.intro %>
  </div>
</div>