<ul class="mb10 p0 nav nav-pills" role="tablist">
  <li role="presentation" class="<%= "disabled" if index == 1 %>"><%= link_to '已删除帖子', deleted_board_posts_path(@board) %></li>
  <li role="presentation" class="<%= "disabled" if index == 2 %>"><%= link_to '已删除主题', deleted_board_topics_path(@board) %></li>
</ul>
