<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= link_to '版面管理', manage_boards_path %></li>
    <li>编辑版面属性</li>
  </ol>
</div>

<div class="simpleform">
  <h3>编辑版面属性</h3>
  <%= render 'form' %>
</div>