<div class="edit-post-container col-sm-8 right-side-layout">
  <%= render partial: 'nodes/node_path', locals: {node: @board, extras: ['edit_post']} %>

  <h4>
    修改 <%= link_to @post.title, @post %>
  </h4>
  <%= render 'form' %>
</div>
