<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= link_to @board.path, board_posts_path(@board) %></li>
    <li>发表文章</li>
  </ol>
  <%= link_to '申请新版', new_board_path, class: 'breadcrumb pull-right' %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="clearfix mb10">
      <h2 class="no-margin mb10 pull-left">发表文章</h2>
    </div>
  </div>
  <div class="col-sm-8">
    <%= render 'form' %>
  </div>
  <div class="col-sm-4">

  </div>
</div>

