<div class="edit-post-container col-sm-8 right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li><%= link_to 'boards', boards_path %></li>
      <li><%= link_to @board.path, show_board_path(@board.path) %></li>
      <li>发表帖子</li>
    </ol>
  </div>
  <h4>
    <% if @post.parent %>
        回复 <%= link_to @post.parent.title, @post.parent, target: '_blank' %>
    <% else %>
        新建主题
    <% end %>
  </h4>
  <%= render 'form' %>
</div>
