<div class="edit-post-container col-sm-8 right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li><%= link_to @board.name, @board %></li>
      <li>new_post</li>
    </ol>
  </div>
  <%= render 'form' %>
</div>
