<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= link_to @board.path, board_topics_path(@board) %></li>
    <li><%= @post.title %></li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-9">
    <% if !@post.is_deleted? || @board.is_moderator?(current_user) %>
      <%= render partial: 'post', locals: {post: @post, board: @board} %>
    <% else %>
      对不起，此贴已被删除。
    <% end %>
  </div>
  <div class="col-sm-3">

  </div>
</div>
