.elite-filter-list {
  .breadcrumb {
    display: inline-block;
    background-color: #FFF;
    margin: 0;
  }
  margin-bottom: 10px;
}

.elite-category {
  td.node-mark {
    width: 25px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  td.title {
    line-height: 16px;
  }
  td.node-mark-category {
    color: goldenrod;
  }
  td.node-mark-post {
    color: #BBB;
    padding-left: 1px;
  }
  td.moderator {
    width: 80px;
    text-align: center;
    a {
      color: #777;
    }
  }
}