.elite-filter-list {
  .breadcrumb {
    display: inline-block;
    background-color: #FFF;
    margin: 0;
  }
  margin-bottom: 10px;
}

.elite-category {
  .breadcrumb {
    margin: 0;
  }
  th.node-mark {
    width: 26px;
  }
  th.moderator {
    width: 80px;
    text-align: center;
  }
  th.date {
    width: 100px;
    text-align: center;
  }
  td.node-mark {
    font-size: 16px;
    padding-right: 0;
  }
  td.node-mark-category {
    color: goldenrod;
  }
  td.node-mark-post {
    color: #BBB;
  }
  td.title {
    a {
      font-size: 16px;
      line-height: 20px;
    }
  }
  td.moderator a {
    color: #777;
  }
  td.moderator, td.date {
    text-align: center;
    vertical-align: middle;
  }
  td.date {
    color: #999;
  }
}