// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-inverse .navbar-brand {
  font-size: 18px;
  color: #DDD;
  font-weight: bolder;
}

.breadcrumb {
  background-color: #fff;
  margin-top: 5px;
  margin-left: 0;
  margin-bottom: 10px;
}

.pagination {
  margin: 0;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements

body {
  background-image: url(seamless_paper_texture.png);
}

// to make views framework-neutral
main {
  @extend .container;
  background-color: #fff;
  padding-bottom: 80px;
  //  width: 100%;
  margin-top: 66px; // accommodate the navbar
}

.flash-msg {
  margin-top: 15px;
  margin-bottom: 0;
}

section {
  @extend .row;
  margin-top: 20px;
}

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #user_remember_me {
    margin-left: 0;
  }
}

.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 60px;
}

.register-form {
  padding-top: 30px;
  max-width: 520px;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  form {
    @extend .well;
    @extend .well-lg;
    padding-bottom: 60px;
  }
  .user_gender {
    label {
      display: block;
    }
    .radio {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.right {
  float: right !important;
}

.button {
  @extend .btn;
  @extend .btn-primary;
}

fieldset {
  @extend .well;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.simpleform {
  padding-top: 30px;
  max-width: 520px;
  margin: 0 auto;
}

.simpleform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 20px;
}

.simpleform .right {
  float: right !important;
}

.simpleform .button {
  @extend .btn;
  @extend .btn-primary;
}

.simpleform fieldset {
  @extend .well;
}

.form-group p.help-block {
  color: #999;
}

.update-user-form {
  .user_email p.help-block {
    color: goldenrod;
  }
  .avatar {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.avatar {
  img {
    @extend .img-rounded
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.err-msg {
  color: red;
  font-size: 12px;
}
