// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-item {
  margin-top: 15px;
  margin-bottom: 15px;
  .panel-body {
    padding: 0;
  }
  $post-item-padding: 13px;
  .avatar {
    margin: $post-item-padding;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .post-detail {
    @media (min-width: 1024px) {
      margin-left: 70px + $post-item-padding * 2;
      padding: $post-item-padding;
      border-left: dotted #DDD 1px;
    }
    @media (max-width: 1024px) {
      padding: $post-item-padding * 0.8;
    }
    .floor {
      color: #999;
      font-size: 13px;
      font-weight: bold;
      margin-top: -3px;
      margin-right: -1px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      a {
        color: #333;
      }
    }
    h4.re-title {
      color: #777;
      a {
        color: #777;
      }
    }
    .post-author {
      color: #999;
      margin-bottom: 5px;
    }
    .post-content {
      font-size: 14px;
      line-height: 25px;
      min-height: 28px;
      color: #333;
      p, ol, ul {
        line-height: 25px;
      }
      p {
        margin-bottom: 12px;
      }
      h1 {
        font-size: 17px;
      }
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 15px;
      }
      h4 {
        font-size: 14px;
      }
      h1, h2, h3 {
        font-weight: bold;
        color: #333;
      }
      blockquote {
        font-size: 14px;
      }
    }
    .post-footer {
      margin-top: 7px;
      margin-bottom: -8px;
      color: #BBB;
      ul {
        margin-bottom: 0;
        li {
          padding-right: 0;
          padding-left: 10px;
        }
      }
      padding: 5px $post-item-padding;
      margin-left: -$post-item-padding;
      margin-right: -$post-item-padding;
      @media (max-width: 768px) {
        padding: 5px $post-item-padding * 0.8;
        margin-left: -$post-item-padding * 0.8;
        margin-right: -$post-item-padding * 0.8;
      }
//      background-color: #EEE;
      .social-share-button {
        line-height: 0;
        margin-top: 1px;
      }
    }
  }
}

.topic-list-item {
  .topic-content {
    margin-left: 50px;
    .topic-posts-count {
      margin-top: 8px;
      margin-right: 10px;
      a {
        background-color: #BBB;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
        padding: 1px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    .topic-title {
      line-height: 18px;
      margin-bottom: 3px;
      a {
        font-size: 16px;
      }
    }
    .topic-info {
      font-size: 12px;
      color: #CCC;
      a {
        font-size: 12px;
        color: #999;
      }
    }
  }
  border-bottom: dashed #CCC 1px;
  padding-bottom: 10px;
  margin-bottom: 13px;
}

.post-comments {
  @media (min-width: 768px) {
    margin-left: 96px;
  }
  margin-top: 20px;
  .title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: solid #DDD 2px;
    margin-bottom: 20px;
  }
  .comment-container {
    //    max-width: 650px;
  }
}

.post-title {
  color: #999;
  @media (min-width: 992px) {
    div {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media (min-width: 992px) {
        max-width: 422px;
      }
      @media (min-width: 1200px) {
        max-width: 572px;
      }
    }
  }
  .digest {
    @media (max-width: 992px) {
      display: none;
    }
  }
  a {
    font-size: 14px;
  }
}

.edit-post-container {
  h4 {
    margin-bottom: 20px;
  }
}

.post-preview-container {
  h4 {
    margin-bottom: 20px;
  }
}

.post-form-button {
  margin-left: 5px;
  margin-right: 5px;
}