// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-item {
  margin-top: 15px;
  margin-bottom: 15px;
  .panel-body {
    padding: 0;
  }
  $post-item-padding: 13px;
  .avatar {
    margin: $post-item-padding;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .post-detail {
    @media (min-width: 1024px) {
      margin-left: 70px + $post-item-padding * 2;
      padding: $post-item-padding;
      border-left: dotted #DDD 1px;
    }
    @media (max-width: 1024px) {
      padding: $post-item-padding * 0.8;
    }
    .floor {
      color: #999;
      font-size: 15px;
      font-weight: bold;
      margin-top: -3px;
      margin-right: -1px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 10px;
      a {
        color: #333;
      }
    }
    h4.re-title {
      display: none;
      color: #777;
      a {
        color: #777;
      }
    }
    .post-author {
      line-height: 13px;
      color: #999;
      margin-bottom: 8px;
      padding-bottom: 10px;
      border-bottom: solid #EEE 1px;
    }
    .post-footer {
      margin-top: 7px;
      margin-bottom: -8px;
      color: #BBB;
      ul {
        margin-bottom: 0;
        li {
          padding-right: 0;
          padding-left: 10px;
        }
      }
      padding: 5px $post-item-padding;
      margin-left: -$post-item-padding;
      margin-right: -$post-item-padding;
      @media (max-width: 768px) {
        padding: 5px $post-item-padding * 0.8;
        margin-left: -$post-item-padding * 0.8;
        margin-right: -$post-item-padding * 0.8;
      }
      .social-share-button {
        line-height: 0;
        margin-top: 1px;
      }
    }
    .like-link-container {
      a {
        .glyphicon {
          font-size: 14px;
        }
        color: #BBB;
        .liked {
          color: tomato;
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.show-post .post-item .post-detail h4.re-title {
  display: block;
}

.post-comments {
  @media (min-width: 768px) {
    margin-left: 96px;
  }
  margin-top: 15px;
  .title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: solid #DDD 2px;
    margin-bottom: 15px;
  }
  .comment-container {
    //    max-width: 650px;
  }
}

.post-title {
  color: #999;
  @media (min-width: 992px) {
    div {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media (min-width: 992px) {
        max-width: 422px;
      }
      @media (min-width: 1200px) {
        max-width: 572px;
      }
    }
  }
  .digest {
    @media (max-width: 992px) {
      display: none;
    }
  }
  a {
    font-size: 14px;
  }
}

.edit-post-container {
  h4 {
    margin-bottom: 20px;
  }
}

.post-preview-container {
  h4 {
    margin-bottom: 20px;
  }
}

.post-form-button {
  margin-left: 5px;
  margin-right: 5px;
}

.post-list {
  table tr td {
    border-top: none;
    border-bottom: dashed #DDD 1px;
    vertical-align: middle;
  }
  table tr .title {
    padding-left: 0;
  }
  table tr .top-title {
    padding-left: 0;
  }
  table tr .top-mark {
    padding-left: 0;
    text-align: center;
  }
  table.top-post-list {
    margin-bottom: 12px;
  }
}

.reply-form {
  margin-left: 96px;
  .form-group {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .actions {
    margin-top: 10px;
    margin-bottom: 0;
    ul {
      margin-bottom: 0;
      li {
        padding-right: 0;
        .post-form-button {
          margin-right: 0;
        }
      }
    }
  }
}