body {
  background-color: #fff;
  color: #555;
  font-family: verdana, arial, helvetica, STHeiti, simsun, "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

p, ol, ul, td {
//  font-family: verdana, arial, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h2, h3, h4 {
  font-weight: bold;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  input {
    border-color: red;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.no-margin {
  margin: 0;
}

.m10 {
  margin: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.p0 {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 13px;
}

.list-item {
  .panel-body {
    padding: 10px;
    color: #666;
  }
  .panel-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #BBB;
    span, a {
      color: #999;
    }
    ul {
      margin: 0;
      font-size: 12px;
    }
  }
  .list-detail {
    margin-left: 80px;
  }
  .list-detail-body {
    margin-top: 5px;
    line-height: 25px;
  }
}

.post-item {
  margin-top: 15px;
  margin-bottom: 15px;
  .post-detail {
    margin-left: 85px;
    .floor {
      color: #999;
    }
    h4 {
      font-size: 16px;
      margin-top: 0;
    }
    .post-author {
      font-size: 13px;
      color: #999;
      margin-bottom: 5px;
    }
    .post-content {
      font-size: 14px;
      line-height: 25px;
      min-height: 28px;
    }
    .post-footer {
      margin-top: 7px;
      color: #BBB;
      font-size: 13px;
      a {
        font-size: 13px;
      }
      ul {
        margin-bottom: 0;
        li {
          padding-right: 5px;
          padding-left: 5px;
        }
      }
    }
  }
}

.topic-head {
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.list-bar {
  margin-bottom: 10px;
  background-color: #EEE;
  padding: 8px 10px;
  border-radius: 3px;
  .post-links {
    a {
      margin-left: 10px;
    }
  }
  .pagination {
    margin-right: 10px;
  }
}

.list-content {
  padding-top: 10px;
}

.topic-bar {
  @extend .list-bar
}

.topic-list {
  tbody > tr > td {
    border-top: 0px;
    border-bottom: 1px solid #DDD;
  }
  .topic-mark {
    padding-right: 0;
  }
}

.elite-mark {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.deleted-mark {
  color: gray;
  font-size: 12px;
}

.board-content {
  padding-top: 10px;
}

.register-user {
  .panel {
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.user-profile {
  margin-top: 30px;
  .info {
    font-size: 13px;
    .nick {
      margin-top: 15px;
      font-size: 20px;
      font-weight: bold;
    }
    .name {
      font-size: 13px;
      color: #999;
      font-weight: normal;
      margin-bottom: 5px;
    }
  }
}

.head-main-nav {
  font-weight: bold;
}

.head-user-nav {
  font-size: 16px;
  li > a {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
  }
}