body {
  color: #555;
  font-family: verdana, arial, helvetica, STHeiti, simsun, "WenQuanYi Micro Hei", sans-serif;
  font-size: 13px;
  line-height: 22px;
}

p, ol, ul, td {
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 13px;
}

h2, h3, h4 {
  font-weight: bold;
  color: #333;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

img.emoji {
  width: 20px;
  height: 20px;
  display: inline-block;
}

#notice {
  color: green;
}

.field_with_errors {
  input {
    border-color: red;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.no-margin {
  margin: 0;
}

.m10 {
  margin: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.p0 {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 13px;
}

a.weak-link {
  color: #999;
}

.list-item {
  .panel-body {
    padding: 10px;
    color: #666;
  }
  .panel-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #BBB;
    span, a {
      color: #999;
    }
    ul {
      margin: 0;
      font-size: 12px;
    }
  }
  .list-detail {
    margin-left: 80px;
  }
  .list-detail-body {
    margin-top: 5px;
    line-height: 25px;
  }
}

.list-bar {
  margin-bottom: 5px;
  background-color: #EEE;
  padding: 8px 10px;
  border-radius: 3px;
  .right-links {
    a {
      margin-left: 10px;
    }
  }
  .pagination {
    margin-right: 10px;
    margin-left: 10px;
    span {
      margin-right: 2px;
    }
  }
}

.list-content {
  padding-top: 10px;
}

.topic-bar {
  @extend .list-bar
}

.elite-mark {
  color: red;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

.deleted-mark {
  color: gray;
  font-size: 12px;
}

.head-main-nav {
  font-weight: bold;
  font-size: 14px;
}

.head-user-nav {
  li > a {
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0;
    display: inline-block;
  }
  li:last-of-type > a {
    margin-right: 15px;
  }
  .new-notification-count {
    display: inline-block;
    color: #FFF;
    background-color: tomato;
    font-size: 10px;
    line-height: 10px;
    padding: 2px 5px;
    border-radius: 2px;
  }
}

.left-side-layout {
  margin-top: 15px;
  margin-left: -15px;
  .panel-body {
    padding: 10px 15px;
  }
  .login-tips {
    .nick a {
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }
    .name {
      color: #999;
    }
  }
  ul.board-list {
    background-color: #EEE;
    padding: 10px 15px;
    list-style: none;
    li.title {
      font-weight: bold;
    }
    li {
      margin-bottom: 10px;
    }
    li:last-child {
      margin-bottom: 2px;
    }
  }
}

.right-side-layout {
  margin-top: 15px;
  @media (min-width: 1024px) {
    border-left: dotted #EEE 1px;
  }
  @media (max-width: 1024px) {
    padding: 0;
  }
}

.filter-list {
  margin-bottom: 10px;
}

.user-name {
  color: #777;
}

.list-item {
  .content {
    margin-left: 50px;
    .count {
      text-align: right;
      margin-top: 8px;
      margin-right: 5px;
      min-width: 40px;
      a {
        background-color: #BBB;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
        padding: 1px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    .title {
      line-height: 18px;
      margin-bottom: 3px;
      a {
        font-size: 16px;
      }
    }
    .info {
      font-size: 12px;
      color: #CCC;
      a {
        font-size: 12px;
        color: #999;
      }
    }
  }
  border-bottom: dashed #CCC 1px;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
