// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-list {
  tbody > tr > td {
    border-top: 0px;
    border-bottom: 1px solid #DDD;
  }
  .topic-mark {
    padding-right: 0;
  }
}

.topic-title {
  a {
    font-size: 14px;
  }
}

.topic-head {
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.user-lock {
  font-size: 13px;
  font-weight: normal;
  color: gold;
}

.moderator-lock {
  font-size: 13px;
  font-weight: normal;
  color: goldenrod;
}

.topic-list-item {
  .topic-content {
    margin-left: 50px;
    .topic-posts-count {
      text-align: right;
      margin-top: 8px;
      margin-right: 5px;
      min-width: 40px;
      a {
        background-color: #BBB;
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
        padding: 1px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    .topic-title {
      line-height: 18px;
      margin-bottom: 3px;
      a {
        font-size: 16px;
      }
    }
    .topic-info {
      font-size: 12px;
      color: #CCC;
      a {
        font-size: 12px;
        color: #999;
      }
    }
  }
  border-bottom: dashed #CCC 1px;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
