.user-link {
  font-size: 13px;
}

.register-user {
  .panel {
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.user-profile {
  .nick {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .name {
    color: #999;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .intro {
    margin-bottom: 15px;
  }
  .others {
    .glyphicon {
      color: #CCC;
    }
    p {
      margin-bottom: 5px;
    }
  }
}

.user-topic-list {
  .avatar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
  .elites .elite-mark {
    display: none;
  }
}

.user-post-list {
  table tr td {
    border-top: none;
    border-bottom: dashed #DDD 1px;
    vertical-align: middle;
  }
  table tr .title {
    padding-left: 0;
  }
}

.user-pagination {
  text-align: center;
  margin: 20px auto;
}

.user-profile {
  .profile-title {
    border-bottom: solid 1px #EEE;
    margin-bottom: 10px;
    span {
      font-weight: bold;
      color: #999;
    }
  }

  .contribute-row {
    margin-bottom: 10px;
  }

  .contribute-item {
    width: 80px;
    float: left;
    text-align: center;
    margin-bottom: 0;
    margin-right: 10px;
    .panel-body {
      padding: 10px;
    }
    .subject {
      color: #777;
    }
    .count {
      font-size: 16px;
    }
  }

  .board-link-item {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 8px;
    background-color: #EEE;
    display: inline-block;
    border-radius: 3px;
  }

}