.user-link {
  font-size: 13px;
}

.register-user {
  .panel {
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.user-profile {
  .nick {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .name {
    color: #999;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .intro {
    margin-bottom: 15px;
  }
  .others {
    .glyphicon {
      color: #CCC;
    }
    p {
      margin-bottom: 5px;
    }
  }
}

.user-list-content {
  .avatar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
  .user-pagination {
    text-align: center;
    margin: 20px auto;
  }
  .elites .elite-mark {
    display: none;
  }
}

.user-elite-list {
  table tr td {
    border-top: none;
    border-bottom: dashed #DDD 1px;
    vertical-align: middle;
  }
  .title {
    padding-left: 0;
    a {
      font-size: 16px;
    }
  }
  .board {
    width: 100px;
    text-align: center;
    a {
      color: #777;
    }
  }
  .date {
    width: 100px;
    text-align: center;
    color: #999;
  }
}