<p>您好，<%= @resource.name %>！</p>

<p>您是否有发起过更换密码的请求？您可以通过访问以下链接去更换密码。</p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= link_to '更换密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有发起过更换密码的请求，请忽略本邮件。不访问这个链接，您的密码就不会改变。</p>

<p>--来自OGX社区</p>