<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= @board.path %></li>
  </ol>
  <%= link_to '申请新版', new_board_path, class: 'breadcrumb pull-right' %>
</div>