<%# add navigation links to this file %>
<li><%= link_to t('layout.home'), root_path %></li>
<li><%= link_to t('layout.boards'), category_path(Node.root.id) %></li>
<li><%= link_to t('layout.contributors'), '/merged_prs' %></li>