<%# add navigation links to this file %>
<li><%= link_to t('layout.home'), root_path %></li>
<li><%= link_to t('layout.boards'), '/public' %></li>
<li><%= link_to t('layout.contributors'), '/merged_prs' %></li>
<li><%= link_to t('global.about'), '/about' %></li>