<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li><%= link_to current_user do %><span class="glyphicon glyphicon-user"></span><% end %></li>
    <li><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-cog"></span><% end %></li>
    <li><%= link_to destroy_user_session_path, :method=>'delete' do %><span class="glyphicon glyphicon-log-out"></span><% end %></li>
<% else %>
    <li><%= link_to new_user_session_path, title: '登录' do %><span class="glyphicon glyphicon-log-in"></span><% end %></li>
<% end %>
